body {
    background-image: linear-gradient(90deg, #e2c35d, #d88771);
    color: grey;
    min-height: 100vh;
}

.todoInputDiv {
    display: row;
}

#todo-input {
    margin-top: .1rem;
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px rgba(235, 235, 235, 0.877);
}


#todo-input, .todo-btn {
    box-shadow: 2px 2px 5px rgba(202, 202, 202, 0.863);
}

.todo-btn {
    border: 1px solid transparent;
    box-shadow: 3px 3px 5px rgba(206, 206, 206, 0.863);
}

.invalid-feedback {
    color: red;
    margin-left: .2rem;
    margin-top: .5rem;
    font-weight: 600;
    /* width: max-content; */
    /* position: absolute; */
}
.todo-output-group p {
    flex: 5;
    font-size: 18px;
}
.todo-output-group {
    padding: 0.7rem;
    margin-block: 1rem;
    border-radius: 1.3rem;
    border: none;
    align-items: center;
    background-color: #ffffffde;
    color: #4d4d4d;
    box-shadow: 3px 3px 8px rgba(139, 0, 0, 0.534);    
}

.todo-completed {
    background-color: #2b442750;
    text-decoration: line-through;
}

/* .buttons {
    padding-inline-start: 80%;    
} */
.btn-success {
    margin-inline: .25em;
}

/* .card {
    padding: 1rem;
    margin-block: 1rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #ffffffde;
    box-shadow: 3px 3px 8px rgba(139, 0, 0, 0.534);
} */